aidevs-agent-cracker/
lessons/
venv
.cursorrules
.env
.DS_Store
AI_devs_teczka.pdf

assignments/__pycache__
assignments/S01E03/resources/
assignments/S01E05/resources/
assignments/S02E01/resources/
assignments/S02E02/resources/
assignments/S02E04/resources/
assignments/S02E05/resources/
assignments/S03E01/resources/