.env
utils/__pycache__
venv
.DS_Store
aidevs-agent-cracker/
.cursorrules
lessons/
AI_devs_teczka.pdf
assignments/pre/__pycache__
assignments/0_13_4b.txt
assignments/cenzura.txt
assignments/json.txt
assignments/przesluchania/
assignments/transkrypcje/